/*.references {
  background: #F3F3F3;
  position: absolute;
  top: 0;
  width: 100%;
}
*/

h2 {
  font-family: "fira sans";
  color: #529aaf;
  position: relative;
  /*left: 50px;*/
  padding-left: 16px;
}

.profile_container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.cycle {
  background: orange;
  height: 100px;
  width: 100px;
  min-width: 100px;
  margin-bottom: 10px;
  border-radius: 100%;
  background-image: url(images/8.jpg);
  background-size: cover;
  margin-right: 18%;
  margin-top: 10px;
}


.cycle:last-child {
  margin-right: 0;
}

.chat_container {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /*position: absolute;
  top: 0;
  left: 0;*/

}

.chat_container img {
  padding: 5%;
  position: relative;
  width: 150px;
  min-width: 150px;
  top: -260px;
}

.chat_container > div {
  padding: 5.5%;
  position: relative;
  width: 150px;
  min-width: 150px;
  top: -240px;
  border-radius: 5%;
}

.chat_container > div {
  background: #e2e2e2;
  margin-right: 10px;
  margin-bottom: 10px;
}

p:last-child {
  margin-right: 0;
}

.partners_container {
  text-align: center;
  overflow: hidden;
}

.partners_container img {
  margin-top: 24px
}



@media screen and (max-width: 450px) {

  .references {
    width: auto;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
  }

  h2 {
    text-align: center;
    left: 0;
  }

  .profile_container {
    display: block !important;
    width: auto;
  }

  .profile_container > div {
    margin: 0;
    padding: 0;
  }

  .chat_container {
      display: block;
      float: left !important;
      /*padding: 0;
      margin: 0;*/
      width: auto;

  }

  .chat_container > div {
    top: 0;
    margin-top: 35px;
    margin-bottom: 60px !important;
    margin-right: 0 !important;
  }

 .profile_container {
   float: left !important;
   margin-top: 0;
 }

  .partners_container {
    display: none;
  }

}
