/* Resets */
body {
  margin: 0;
  padding: 0;
}

/* Grid System setup */
.flex-grid {
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  flex: 0 0 auto;
  position: relative;
}

.background_row {
  background: #eee;
}

/* Column setup */

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 1% 0 0.3% 1.6%;
  position: relative;
}

.col:first-child {
  margin-left: 0;
}

.col:last-of-type {
  margin-bottom: 0;
}

.row:last-child {
  margin-bottom: 0;
}

.col-12 {
  width: 100%;
}

.col-11 {
  	width: 91.53%;
}
.col-10 {
  	width: 83.06%;
}

.col-9 {
  	width: 74.6%;
}

.col-8 {
  	width: 66.13%;
}

.col-7 {
  	width: 57.66%;
}

.col-6 {
  	width: 49.2%;
}

.col-5 {
  	width: 40.73%;
}

.col-4 {
  	width: 32.26%;
}

.col-3 {
  	width: 23.8%;
}

.col-2 {
  	width: 15.33%;
}

.col-1 {
  	width: 6.866%;
}

/* Styling */

.col {
  /*background: pink;*/
  /*border: 1px solid black;*/
}

.row {
  /*background: blue;*/
}

/* Navigation */

nav {

}

ul {
  margin: 0;
  text-align: right;
}

ul li {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}

ul li  {
  color: #444;
  font-family: lato;
}

ul li a {
  text-decoration: none;
  color: #444;
}

.arrow {
  float: left;
  padding-left: 16px;
}

.logo {
  float: left;
  margin-left: 40px;
}
/*Hero image section*/

p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}


.hero_image img {
  position: absolute;
  max-width: 100%;
  display: inline-block;
  left: 0;
  right: 0
}

.hero_image {
  width: 100%;
  height: 400px;
}

.img_container {
  width: 100%;
  height: 400px;
  background: orange;
  background-image: url(images/laundry_hero_image.jpg);
  background-size: cover;
  background-position: 50% 50%;
  filter: brightness(80%);
}

h1 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
  padding-top: 180px;
  top: -400px;
  position: relative;
  z-index: 1;
  font-size: 40px;
}

.cta_button {
  position: relative;
  top: -350px;
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;

}

.cta_button p {
  border: 1px solid white;
  display: inline;
  padding: 10px 15px 10px 15px;
}

.cta_button  a {
  text-decoration: none;
  color: white;
}

/*Video section*/

.video {
  height: 400px;
  width: 100%;
  /*background: #eee;*/
  border: 2px solid black;
}

h3 {
  font-family: 'Fira Sans', sans-serif;
  color: #333;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-top: 40px;
}

p {
  font-family: lato;

}

.left_area p {
  /*position: relative;*/
  left: 34%;
  padding-top: 16px;
  text-align: center;
}

.button {
  background: #f49b42;
  width: 150px;
  padding: 12px 0;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 20px;
}

.button a {
  text-decoration: none;
}

.button p {
  color: white;
  font-family: lato;
  font-weight: 400;
}

.background_row {
  padding: 50px 0px;
}

video {
  position: relative;
  left: 25%;
  margin-bottom: 16px;
}

.partners img {
  float: left;
}

.about_partners {
  margin: 50px 0px;
  padding: 0 20px;
}

/* Footer */

footer {
  width: 100%;
  background: #123645;
  /*height: 150px;*/
  height: auto;
}


footer p {
  text-align: left;
  color: white;
  font-family: lato;
  padding-top: 60px;
  padding-left: 50px;
}

footer ul li a {
  color: white;
  position: relative;
  bottom: 15px;

}

footer ul {
  padding-right: 16px;
}

a {
  text-decoration: none;
}

.contacts {
  color: #888;
  padding-top: 0;
  text-align: center;
  padding: 10px;
}

.expand {
  display: none;
  width: 100px;
  height: 100px;
  background: #eee;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  left: 60px;
  top: 20px;
}

.expand ul li {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 4px;
  cursor: pointer;
}

.expand ul {
  text-align: center;
}

.expand li:hover {
  background: #aaa;
}

/* Mobile styles */

@media screen and (max-width: 480px) {
  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 [class*="col"] {
    display: block;
    width: 100% !important;
    float: none;
    margin: 0;
  }
* {
  float: none !important;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 4% 0;
  text-align: left;
  padding-left: 16px;
}

.arrow {
  display: none;
}

.partners img {
  position: relative;
  left: 40%;
}

.partners p {
  padding: 10px 0px;
}

video {
  display: block;
  margin: 0 auto;
  position: static !important;
}

.left_area {
  padding-left: 16px;
  padding-right: 16px;
}

nav {
  display: none;
}

.hamburger {
  /*position: absolute;*/
  top: 8px;
  right: 16px;
  z-index: 5;
}

nav ul {
  text-align: center;
}

nav ul li {
  padding-bottom: 5px;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 10px !important;
  padding-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 !important;
    margin: 16px 0 0 0;
}

li {
  list-style-type: none;
}

footer ul li {
  margin-right: 0;
}

.contacts {
  padding-bottom: 30px;
}

}

@media screen and (min-width: 769px) {

  .flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;;
  }

  nav {
    display: block !important;
  }
  ul {

    text-align: right;
  }

  ul li {
    list-style-type: none;
    display: inline !important;
    margin-right: 20px;
  }
  .hamburger {
    display: none;
  }

  .expand ul li {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 [class*="col"] {
    display: block;
    width: 100% !important;
    float: none !important;
    margin: 0;
  }

  .logo {
    margin: 4% 0;
    text-align: left;
    padding-left: 16px;
  }

  nav {
    display: none;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
    z-index: 5;
    max-width: 40px;
    order: 2;
    padding-right: 16px;
  }

  nav ul {
    text-align: center;
    margin-bottom: 10px;
  }

  nav ul li {
    padding-bottom: 5px;
  }

  video {
    display: block;
    margin: 0 auto;
    position: static;
  }
}
